<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>

<form method="get" action="/panel">
    <label for="user">Filter by User:</label>
    <select name="userId" id="user">
        <option value="">All</option>
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.name}"></option>
    </select>

    <label for="product">Filter by Product:</label>
    <select name="productId" id="product">
        <option value="">All</option>
        <option th:each="product : ${products}"
                th:value="${product.id}"
                th:text="${product.name}"></option>
    </select>

    <button type="submit">Filter</button>
</form>

<form action="/panel/addProduct" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Ürün adı" required>
    <input type="number" name="price" placeholder="Fiyat" required>
    <select name="categoryId">
        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.name}">
        </option>
    </select>
    <input type="file" name="image">
    <button type="submit">Ekle</button>
</form>




<h2>Orders</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Category</th>
        <th>Order Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.user.name}"></td>
        <td th:text="${order.product.name}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.price}"></td>
        <td th:text="${order.product.category.name}"></td>
        <td th:text="${order.orderDate}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
